/*! == THEME STYLES == */

/*===========GLOBAL==========*/
input{
	border:1px solid $brand-primary;
	width: rem-calc(300);
	padding:rem-calc(10) rem-calc(20);
	margin-bottom: rem-calc(10);
	text-transform: uppercase;
	text-align: left;
	&[type=submit]{
		background-color: $brand-primary;
		color: white;
	}
}
.mt-10{
	margin-top:-10rem
}
.r25{
	transform:rotate(25deg);
}
.section{
	&__light-grey{
		background-color:$brand-light-grey;
	}
	&__mid-grey-opacity{
		background-color:rgba($brand-mid-grey, .3);
	}
	&__mid-grey{
		background-color:$brand-mid-grey;
	}
	&__secondary{
		background-color:$brand-secondary;
	}
	&__primary{
		background-color:$brand-primary;
	}
	&__tertiary{
		background-color:$brand-tertiary;
	}
	&__white{
		background-color:white;
	}
}
.bgImage{
	&__cover{
		background-size:cover;
	}
	&__norepeat{
		background-repeat: no-repeat;
	}
	&__center{
		background-position: center;
	}
}
.button{
	display: inline-block;
	&__light-grey{
		background-color:$brand-light-grey;
	}
	&__mid-grey-opacity{
		background-color:rgba($brand-mid-grey, .3);
	}
	&__mid-grey{
		background-color:$brand-mid-grey;
	}
	&__secondary{
		background-color:$brand-secondary;
	}
	&__primary{
		background-color:$brand-primary;
	}
	&__white{
		background-color:white;
	}
	&__color-white{
		color:white;
	}
	&__color-primary{
		color:$brand-primary;
	}
	&__color-secondary{
		color:$brand-secondary;
	}
	&__hover-text-secondary{
		&:hover{
			color:$brand-secondary;
		}
	}
	&__hover-text-white{
		&:hover{
			color:white;
		}
	}
	&__hover-primary{
		&:hover{
			background-color:$brand-primary;
		}
	}
	&__hover-white{
		&:hover{
			background-color:white;
		}
	}
	&__caps{
		text-transform: uppercase;
	}
}
.col{
	&__double-list{
		ul{
			li{
				display: inline-block;
				&:nth-of-type(odd){
					width: 39%
				}
				&:nth-of-type(even){
					width: 60%
				}
			}
		}
	}
	&__circle-list{
		ul{
			li{
				padding-left:rem-calc(20);
				position:relative;
				margin-bottom:rem-calc(20);
				&:before{
					content:'';
					position: absolute;
					left: 0;
					top: 50%;
					transform:translateY(-50%);
					width: rem-calc(10);
					height: rem-calc(10);
					border:2px solid $brand-primary;
					border-radius:50%;
				}
			}
		}
	}
}
.border{
	border-width: 1px;
	border-style:solid;
	border-color:white;
	&__brand-primary{
		border-color:$brand-primary;
	}
}
/*===========HEADER==========*/
.buy-now{
	position: relative;
	align-self:stretch;
	a{
		position:absolute;
		height: 110%;
		width: inherit;
		img{
			max-height: 100%;
		}
	}
}

/*===========BODY==========*/
.hero{
	&.h100{
		height: calc(100vh - 2em);
	}
	&__heading-image{
		display:flex;
		align-items:center;
		justify-content:flex-start;
		> .container{
			width:100%;
		}
	}
	&__halfimage{
		position:relative;
		display: flex;
		align-items:center;
		&__background{
			width: 50%;
			position:absolute;
			top: 0;
			left: 50%;
			height: 100%;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			z-index:1;
			display: flex;
			align-items:flex-end;
			justify-content: flex-end;
			&:after{
				height: 50%;
				width: 100%;
				position:absolute;
				bottom:0;
				left: 0;
				content: '';
				background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				z-index: 1;
			}
		}
		&__content{
			position:relative;
			z-index: 2;
			background-color:white;
		}
		&__quote{
			color: white;
			width: 60%;
			position:relative;
			z-index: 2;
		}
	}
	&__light{
		color:white;
		h1, h2, h3, h4, h5, h6{
			color:white;
		}
	}
	&__features{
		display:flex;
		justify-content: space-around;
		flex-direction:column;
	}
}
.image-overlap{
	position: relative;
	div{
		position:absolute;
		background-size: cover;
		background-position:center;
		width: 100%;
	}
	&__l0{
		left: 0;
	}
	&__tn50{
		top: rem-calc(-50);
	}
	&__h130{
		height: 130%;
	}
}
.single-carousel{
	.owl-nav{
		.owl-next, .owl-prev{
			&::before{
				background-color:white !important;
				width:rem-calc(50);
				height:rem-calc(50);
				svg{
					path: $brand-light-grey;
				}
			}
		}
	}
}
.mid-carousel{
	.owl-nav{
		width:rem-calc(600);
		left:calc(50% - 300px);
		.owl-next, .owl-prev{
			&::before{
				background-color:white !important;
				width:rem-calc(50);
				height:rem-calc(50);
			}
		}
	}
	.item{
		height:rem-calc(600);
		max-width:rem-calc(500);
		margin:auto;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		overflow:hidden;
		position:relative;
		.content-container{
			position:absolute;
			width:90%;
			top:calc(100% - 84px - 2rem);
			min-height:80%;
			transition:$slowEffect;
			display:grid;
			grid-template-rows: rem-calc(105) rem-calc(270) rem-calc(50);
			h6{
				border-bottom: 1px solid white;
			}
			background-color:$brand-secondary;
			color:white;
			.button{

			}
		}
	}
	.center{
		.item{
			.content-container{
				top:20%;
				transition:$slowEffect;
			}
		}
	}
}

.effective-content{
	display:flex;
	align-items:stretch;
	> div{
		width:50%;
	}
	&__image{
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	&__content{
		
	}
	&:nth-of-type(odd){
		.effective-content__content{
			order:1;
		}
		.effective-content__image{
			order:2;
		}
	}
	&:nth-of-type(even){
		.effective-content__content{
			order:2;
		}
		.effective-content__image{
			order:1;
		}
	}
}
.features{
	&__number{
		background-color:$brand-primary;
		width:rem-calc(30);
		height:rem-calc(30);
		border-radius:50%;
		display: inline-block;
		color:white;
		text-align:center;
		padding-top:rem-calc(4);
		border:2px solid white;
	}
	&__image{
		position:relative;
	}
}

.research_content{
	column-count: 3;
	p{
		margin-top:0;
	}
}

.table_item{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	span{
		width:49%;
		display:inline-block;
	}
	.table_title, .table_content{
		border-right:2px solid $brand-primary;
		&:nth-of-type(3n){
			border-right:0;
		}
	}
}
.conditions{
	.filter{
		fieldset{
			border:0;
			padding:0;
		}
		.wrapper-radio{
			display:flex;
			justify-content:center;
			.mixitup-control-active{
				font-weight:900;
			}
			> div{
				border-right:1px solid $brand-mid-grey;
				&:last-of-type{
					border-right:none;
				}
			}
			label{
				&:hover{
					cursor:pointer;
				}
			}
			input{
				display:none;
			}
		}
	}
	.condition-item{
		width:100%;
	}
}

.accordion{
	&__triangle{
		position:relative;
		&:after{
			position:absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: rem-calc(15) rem-calc(15) 0 rem-calc(15);
			border-color: $brand-primary transparent transparent  transparent;
			content:'';
			top:0;
			right:0;
			transition:$fastEffect;
		}
		&.active{
			&:after{
				border-width: 0 rem-calc(15) rem-calc(15) rem-calc(15);
				transition:$fastEffect;
				border-color: transparent transparent $brand-primary transparent;
			}
		}
	}
	&:not(:first-of-type) .collapsible {
		display: none;
	}
}

.social{
	img{
		height: rem-calc(32);
	}
}

.contact{
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	position:relative;
	&:after{
		position:absolute;
		right:0;
		top:0;
		left:35%;
		bottom:0;
		content:'';
		background-color:$brand-tertiary;
		z-index:1;
	}
	> div{
		width:100%;
		position: relative;
		z-index:2;
	}
	p{
		margin-top:0;
	}
}
/*===========FOOTER==========*/

.footerMenu{
	display:inline-block;
}
